header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  list-style: none;
  height: 60px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 0, 0, 1) 76%
  );
  border-radius: 3px;
}
header li {
  padding: 10px;
}
header li:hover {
  background-color: rgba(2, 0, 36, 1);
  border-radius: 5px;
  cursor: pointer;
}
header a {
  color: white;
  text-decoration: none;
}
