.card {
  margin-bottom: 25px;
}
.card pre {
  float: right;
  color: royalblue;
}
.card button {
  border: none;
  background-color: black;
  color: white;
}
.card button:hover {
  background: rgba(255, 0, 0, 1);
  color: white;
}
.card-header small {
  float: right;
  font-size: 12px;
  margin-right: 10px;
}
