.card .btns {
  float: right;
}
.card a {
  background-color: black;
  color: white;
}
.card .btns button {
  margin-left: 10px;
}
.cardcontainer {
  min-height: 100vh;
}
.card-title {
  color: red;
}
