@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Questrial", sans-serif !important;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #797979ff transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #797979ff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #797979ff;
}
