.form-control:focus {
  border-color: red;
  box-shadow: none;
}
.create-btn {
  float: right;
  background-color: black;
  border-radius: 5px;
  color: white;
  border: none;
}
.create-btn:hover {
  background-color: red;
  color: white;
}
.alert-danger {
  color: red;
  border: 1px solid red;
}
.alert-success {
  color: green;
  border: 1px solid green;
}
