.main {
  background-color: rgb(225, 255, 252);
  height: 90%;
  border-radius: 5px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}
form textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid black;
}
form button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
}
form button:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 255, 218, 1) 76%
  );
}
