* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: scroll;
}
#root::-webkit-scrollbar {
  display: none;
}
.container {
  border-radius: 5px;
  box-shadow: 0px 0px 7px 7px gray;
  height: 90vh;
  width: 300px;
}
