.container {
  margin-top: 30px;
  cursor: pointer;
}
.card-header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(217, 142, 252) 76%
  );
  color: white;
}
